<!DOCTYPE html>
<html lang="en">
<head>
    <center>
    <meta charset="UTF-8">
    <title>Data</title>
    <h1> <u>ALL DATA</u> </h1>
        </center>
</head>
<center>
<body>
    <p>
<p1>This is the data in Total:  </p1>
{{ data_info_total }}
<p>
    <p1>This is the data in Albert:  </p1>
{{ data_info_albert }}
<p>
    <p1>This is the data in Brigadiers:  </p1>
{{ data_info_brigadiers }}
<p>
    <p1>This is the data in Camilla:  </p1>
{{ data_info_camilla }}
<p>
    <p1>This is the data in Dylon:  </p1>
{{ data_info_dylon }}
<p>
    <p1>This is the data in Emily:  </p1>
{{ data_info_emily }}
<p>
    <p1>This is the data in Florence:   </p1>
{{ data_info_florence }}
<p>
    <p1>This is the data in Gertrude:  </p1>
{{ data_info_gertrude }}
<p>
    <p1>This is the data in Harris:   </p1>
{{ data_info_harry }}
    <p>
    <p1>This is the total growth:   </p1>
    info other beer: {{ total_year_growth}}%
    <p>
    <p1>This is the dunkel growth:   </p1>
    info other beer: {{ dunkel_year_growth}}%
    <p>
    <p1>This is the pilsner growth:   </p1>
    info other beer: {{ pilsner_year_growth}}%
    <p>
    <p1>This is the organic growth:   </p1>
    info other beer: {{ organic_year_growth}}%
    <p>
    TIP: If the value is positive, the beer is going to sell
    If the value is negative, the beer is not going to sell
    <p>
<p2><a href="http://127.0.0.1:5000/?hotbrew=0&cleardata3=on&name=0&cleardata=on&fermented=0&cleardata2=on">GO BACK</a></p2>
</body>
</center>
</html>